{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>This is the prototype for the FTA. This prototype is <strong>NOT</strong> fully functional</p>
    <p>Please <a href="/manage-prototype/clear-data" class="govuk-link--no-visited-state">clear data</a> to delete all stored data and re-set the prototype between journeys.</p>

    <ol class="app-task-list">
      <li> 
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> 
          Journey 1
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="linkedin-ad?who-signin=org&user-permissions=Admin user" class="govuk-link--no-visited-state" aria-describedby="create-status">
                Export or Not!
              </a>
            </span>
            <span class="app-task-list__tag" id="create-status">Words</span>
            <br>
            <!--errors
            <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Error pages
                </span>
              </summary>
              <div class="govuk-details__text">
                <a href="public-site/create-account/createaccount-your-org-uk-search-api-error?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                  Error - companies house api error
                </a><br>
                <a href="public-site/create-account/createaccount-your-org-uk-search-no-js?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                  Error - no Javascript error
                </a>
              </div>
            </details>
            -->
          </li>
        </ul>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
