{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Export or not? 
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Some important words here
      </h2>
      <p>Some beautiful words here to convince you this is great.</p>

      <p>Use the Export or not jobby to: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Thing 2</li>
        <li>Thing 2</li>
      </ul>
      
     

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Start",
          href: "step1",
          isStartButton: true
        }) }}
      </div>
      <h2 class="govuk-heading-m">
        Before you start 
      </h2>
      <p>Thing 1</p>
      <p>Thing 2</p>
      <p>Thing 3</p>
    </div>

  
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          More information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="link" href="https://www.gov.uk/government/organisations/trade-remedies-authority/about" target="_blank">Exciting link here</a> 
            </li>
            <li>
              <a class="link" href="https://www.gov.uk/government/organisations/trade-remedies-authority/about" target="_blank">Exciting link here</a>
            </li>      
          </ul>
        </nav>
      </aside>
    </div>

  </div>

{% endblock %}
