{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Buying and selling responsibilities
      </h1>
      <p>Incoterms specify who is responsible for paying for and managing the shipment, insurance, documentation, customs clearance, and other logistical activities.</p>
      <p>Based on your information, we would recommend using an <strong>EX-Works</strong>, <strong>FOB</strong>, or <strong>CIF</strong> Incoterm to export your product. Use the jobby below to change Incoterms or compare against other faviourable markets.</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Incoterms - what are they?
          </span>
        </summary>
        <div class="govuk-details__text">
          FTO, CTO etc etc things
        </div>
      </details>
    </div> 
  </div>
  <div class="govuk-grid-row ">
      <div class="govuk-grid-column-full">
        <form class="form" action="step3-1-market-compare" method="post">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Incoterm comparison</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Value: </span></th>
                <th scope="col" class="govuk-table__header">Ex-works</th>
                <th scope="col" class="govuk-table__header">FOB</th>
                <th scope="col" class="govuk-table__header">CIF</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Costing</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Invoice price</th>
                <td class="govuk-table__cell">£10000</td>
                <td class="govuk-table__cell">£10000</td>
                <td class="govuk-table__cell">£10000</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Shipping</th>
                <td class="govuk-table__cell">£1000</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">£2000</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Insurance</th>
                <td class="govuk-table__cell">£400</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">£1000</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">VAT</th>
                <td class="govuk-table__cell">£400</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">£10</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"></th>
                <td class="govuk-table__header">£2800</td>
                <td class="govuk-table__header">£1000</td>
                <td class="govuk-table__header">£1034</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Features</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">FTA</th>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">No</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rules or origin</th>
                <td class="govuk-table__cell">Yes when FTA</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">No</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"></th>
                <td class="govuk-table__cell">
                  <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                    Choose me
                  </button>
                </td>
                <td class="govuk-table__cell">
                  <button class="govuk-button comparison" data-module="govuk-button">
                    Choose me
                  </button>
                </td>
                <td class="govuk-table__cell">
                  <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                    Choose me
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
    </div>
  </div>


 

{% endblock %}
