{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exporting experience, effort and risk  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Step 2</span>
        Exporting experience, effort and risk 
      </h1>
      <p>These questions will help us understand your experience and approach in exporting. We’ll use your answers to suggest the most appropriate trade terms and related costs. These are known as Incoterms. <a href="">Learn more about Incoterms</a>.</p>

      <form action="step2-1-market-inco" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline govuk-radios--small",
          name: "confidence",
          fieldset: {
            legend: {
              text: "How confident are you in exporting goods?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Low",
              text: "Low"
            },
            {
              value: "Medium",
              text: "Medium"
            }
            ,
            {
              value: "High",
              text: "High"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline govuk-radios--small",
          name: "capacity",
          fieldset: {
            legend: {
              text: "How likely is it you will use a 3rd party to arrange the export of your goods?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Low",
              text: "Not likely"
            },
            {
              value: "Medium",
              text: "Likely"
            }
            ,
            {
              value: "High",
              text: "Highly likely"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline govuk-radios--small",
          name: "risk",
          fieldset: {
            legend: {
              text: "How confident do you feel about taking on the risk and responsibility of making sure your goods arrive at their final destination?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Low",
              text: "Low"
            },
            {
              value: "Medium",
              text: "Medium"
            }
            ,
            {
              value: "High",
              text: "High"
            }
          ]
        }) }}

       

        {{ govukButton({
          text: "Next"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
