{% extends "layouts/main.html" %}

{% block pageTitle %}
  Export or Not? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Step 1</span>
        Choose your market and product
      </h1>

      <form class="form" action="step1.1" method="post">

        {% include "includes/country-list.html" %}

        {% include "includes/country-list-auto.html" %}

        <div class="govuk-form-group govuk-!-width-three-quarters">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="search-commodity">
              What is your product? 
            </label>
          </h2>
          <select class="govuk-select autocomplete-select" id="search-commodity" name="search-commodity" autocomplete-placeholder="Enter the name of the product or commodity code" data-selected-company-wrapper-id="commodity_data_2"> 
            <option value="" class="selected"></option>
            <option value="Commodity code 01 - Product name A" id="1">Silencers (mufflers) and exhaust pipes, parts there of - 870892</option>
            <option value="Commodity code 01 - Product name A" id="1">Silencers (mufflers) and exhaust pipes - 87089235 00</option>
          </select>
        </div>

        <div class="app-step-nav-header" id="commodity_data_2" style="display:none;">
           <h2 class="govuk-heading-m">Select your product</h2>
          <ul class="govuk-list">
            <li id="selected_commodity">Silencers (mufflers) and exhaust pipes, parts there of (870892)
              <ul class="govuk-list-bullet">
                <li id="selected_commodity2">Other (87089235)
                  <ul class="govuk-list-bullet">
                    <li id="selected_commodity2"><a href="step1-market-overivew?product=Silencers (mufflers) and exhaust pipes, parts there of (87089235 00)" class="govuk-link--no-visited-state">Silencers (mufflers) and exhaust pipes, parts there of (87089235 00)</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <br><br>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Find out more about free trade agreements 
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Trade agreements provide different rules for buying and selling goods between two or more countries. They can reduce barriers and lower the costs for businesses. </p>
            <p>To find out more you can: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>learn about <a href="https://www.great.gov.uk/campaigns/free-trade-agreements/" class="">how to use free trade agreements</a></li>
              <li>view the <a href="https://www.gov.uk/government/collections/the-uks-trade-agreements" class="">trade agreements currently in force</a></li>
            </ul>
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How to classify your goods 
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>If you need help classifying your product, you can: </p>
             <ul class="govuk-list govuk-list--bullet">
              <li>read the guidance on <a href="https://www.great.gov.uk/campaigns/free-trade-agreements/" class="">how to classify your goods</a></li>
              <li>search for <a href="https://www.gov.uk/check-duties-customs-exporting" class="">your product</a></li>
              <li>contact us using the <a href="https://www.gov.uk/ask-export-support-team" class="">Export Support Service</a></li>
            </ul>
          </div>
        </details>

      </form>

    </div>
  </div>

{% endblock %}
