{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Step 3</span>
      <h1 class="govuk-heading-l">Compare
        <span class="edit-link govuk-body">
          <a href="step1" class="govuk-link--no-visited-state">Change product</a>
        </span>
      </h1>
      <p>Some lovely words about what the hell is going on.gdfljkljikf</p>
    </div>
  </div>

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-fifths grey">
      <h2 class="govuk-heading-m govuk-!-text-align-right">Mexico
      </h2>
    </div>
    <div class="govuk-grid-column-one-fifth">
      <h2 class="govuk-heading-m hide">Values</h2>
    </div>
    <div class="govuk-grid-column-two-fifths">
       <div class="govuk-form-group">
        <label class="govuk-heading-m govuk-!-display-inline" for="compare">
          Other markets 
        </label>
        <select class="govuk-select country" id="compare" name="compare" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option {{ "selected" if data["country"] == "Select" }} value="?country=Select" value="Select">Select</option>
          <optgroup label="FTA Partners">
            <option {{ "selected" if data["country"] == "Australia" }} value="?country=Australia">Australia</option>
            <option {{ "selected" if data["country"] == "Brunei" }} value="?country=Brunei">Brunei</option>
            <option {{ "selected" if data["country"] == "Cambodia" }} value="?country=Cambodia">Cambodia</option>
          </optgroup>
          <option>----------</option>
          <optgroup label="Non-FTA Partners">
            <option {{ "selected" if data["country"] == "Afghanistan" }} value="?country=Afghanistan">Afghanistan</option>  
            <option {{ "selected" if data["country"] == "Aland Islands"  }} value="?country=Aland Islands">Aland Islands</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
 
  <div class="govuk-grid-row ">

    <div class="govuk-grid-column-two-fifths border">
      <div class="chart-wrap left">
        <div class="grid horizontal">
          {% if data['inco'] == "FOB" %}
            <div class="bar govuk-body" data-name="£11,500" title="£11,500"></div>
            {% else %}
            {% if data['inco'] == "CIF" %}
              <div class="bar govuk-body" data-name="£16,450" title="£11,500"></div>
              {% else %}
              {% if data['inco'] == "Ex-works" %}
                <div class="bar govuk-body" data-name="£10,000" title="£11,500"></div>
              {% endif %}
            {% endif %}
          {% endif %}
          <div class="bar govuk-body" style="--bar-value:23%;" data-name="23%" title="Medium 23%"></div>
          <div class="bar govuk-body" style="--bar-value:7%;" data-name="7%" title="Tumblr 7%"></div>
          <div class="bar govuk-body" style="--bar-value:38%;" data-name="38%" title="Facebook 38%"></div>
          <div class="bar govuk-body" style="--bar-value:35%;" data-name="35%" title="YouTube 35%"></div>
          <div class="bar govuk-body" style="--bar-value:30%;" data-name="30%" title="LinkedIn 30%"></div>
          <div class="bar govuk-body" style="--bar-value:5%;" data-name="5%" title="Twitter 5%"></div>
          <div class="bar govuk-body" style="--bar-value:20%;" data-name="20%" title="Other 20%"></div>
        </div>
      </div>
    </div>
        
    <div class="govuk-grid-column-one-fifth border">
      <div class="chart-wrap value center-value">
        <div class="grid horizontal ">
          <div class="govuk-form-group govuk-input--width-20 select">
            <label class="govuk-label govuk-visually-hidden" for="inco">
              Change Incoterm
            </label>
            <select class="govuk-select govuk-input--width-20" id="inco" name="inco" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
              <option {{ "selected" if data["inco"] == "FOB" }} value="?inco=FOB" selected>FOB</option>
              <option {{ "selected" if data["inco"] == "CIF" }} value="?inco=CIF">CIF landed</option>
              <option {{ "selected" if data["inco"] == "Ex-works" }} value="?inco=Ex-works">Ex-works</option>
            </select>
          </div>
          <div class="bar govuk-body">Medium</div>
          <div class="bar govuk-body">Tumblr</div>
          <div class="bar govuk-body">Facebook</div>
          <div class="bar govuk-body">YouTube</div>
          <div class="bar govuk-body">LinkedIn</div>
          <div class="bar govuk-body">Twitter</div>  
          <div class="bar govuk-body">Other</div>          
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-two-fifths border">
  
          {% if data['country'] == "Select" %}
            <div class="chart-wrap right empty">
              <div class="grid horizontal">
                <div class="bar govuk-body" data-name="£"></div>
                <div class="bar govuk-body" style="--bar-value:25%;" title="Medium 25%"></div>
                <div class="bar govuk-body" style="--bar-value:25%;" title="Tumblr 25%"></div>
                <div class="bar govuk-body" style="--bar-value:25%;" title="Facebook 25%"></div>
                <div class="bar govuk-body" style="--bar-value:25%;" title="YouTube 25%"></div>
                <div class="bar govuk-body" style="--bar-value:25%;" title="LinkedIn 25%"></div>
                <div class="bar govuk-body" style="--bar-value:25%;" title="Twitter 25%"></div>
                <div class="bar govuk-body" style="--bar-value:25%;" title="Other 25%"></div>
              </div>
            </div>
            {% else %}
            {% if data['country'] == "Australia" %}
              <div class="chart-wrap right">
                <div class="grid horizontal">
                  {% if data['inco'] == "FOB" %}
                    <div class="bar govuk-body" data-name="£12,500" title="£11,500"></div>
                    {% else %}
                    {% if data['inco'] == "CIF" %}
                      <div class="bar govuk-body" data-name="£20,450" title="£11,500"></div>
                      {% else %}
                      {% if data['inco'] == "Ex-works" %}
                        <div class="bar govuk-body" data-name="£10,000" title="£11,500"></div>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  <div class="bar govuk-body" style="--bar-value:23%;" data-name="23%" title="Medium 23%"></div>
                  <div class="bar govuk-body" style="--bar-value:14%;" data-name="14%" title="Tumblr 14%"></div>
                  <div class="bar govuk-body" style="--bar-value:17%;" data-name="17%" title="Facebook 17%"></div>
                  <div class="bar govuk-body" style="--bar-value:67%;" data-name="67%" title="YouTube 67%"></div>
                  <div class="bar govuk-body" style="--bar-value:43%;" data-name="43%" title="LinkedIn 43%"></div>
                  <div class="bar govuk-body" style="--bar-value:76%;" data-name="76%" title="Twitter 76%"></div>
                  <div class="bar govuk-body" style="--bar-value:01%;" data-name="01%" title="Other 01%"></div>
                </div>
              </div>
              {% else %}
              {% if data['country'] == "Brunei" %}
                <div class="chart-wrap right">
                  <div class="grid horizontal">
                    {% if data['inco'] == "FOB" %}
                      <div class="bar govuk-body" data-name="£12,450" title="£11,500"></div>
                      {% else %}
                      {% if data['inco'] == "CIF" %}
                        <div class="bar govuk-body" data-name="19,340" title="£11,500"></div>
                        {% else %}
                        {% if data['inco'] == "Ex-works" %}
                          <div class="bar govuk-body" data-name="£10,000" title="£11,500"></div>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    <div class="bar govuk-body" style="--bar-value:53%;" data-name="54%" title="Medium 54%"></div>
                    <div class="bar govuk-body" style="--bar-value:31%;" data-name="31%" title="Tumblr 31%"></div>
                    <div class="bar govuk-body" style="--bar-value:49%;" data-name="49%" title="Facebook 49%"></div>
                    <div class="bar govuk-body" style="--bar-value:05%;" data-name="5%" title="YouTube 5%"></div>
                    <div class="bar govuk-body" style="--bar-value:21%;" data-name="21%" title="LinkedIn 21%"></div>
                    <div class="bar govuk-body" style="--bar-value:76%;" data-name="76%" title="Twitter 76%"></div>
                    <div class="bar govuk-body" style="--bar-value:34%;" data-name="34%" title="Other 34%"></div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        
    </div>    
    <br>
    <br>
    <!-- <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Incoterm comparison</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Value: </span></th>
              <th scope="col" class="govuk-table__header">Ex-works</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-24">FOB</th>
              <th scope="col" class="govuk-table__header">CIF Landed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Costs (approximate)</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Invoice price</th>
              <td class="govuk-table__cell">£10,000</td>
              <td class="govuk-table__cell">£10,000</td>
              <td class="govuk-table__cell">£10,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Customs *MFN 10% duty</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£1,000</td>
              <td class="govuk-table__cell">£1,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Taxes *VAT 20%</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£2,200</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Handling</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£500</td>
              <td class="govuk-table__cell">£500</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Shipping</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£2000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Insurance</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£400</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></th>
              <td class="govuk-table__header">£10,000</td>
              <td class="govuk-table__header">£11,500</td>
              <td class="govuk-table__header">£16,450</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Features</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">FTA</th>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rules or origin</th>
              <td class="govuk-table__cell">Yes when FTA</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></th>
              <td class="govuk-table__cell">
                <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </td>
              <td class="govuk-table__cell">
                <button class="govuk-button comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </td>
              <td class="govuk-table__cell">
                <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        -->
  </div>

  

{% endblock %}
