{% extends "layouts/main.html" %}

{% block pageTitle %}
  Product details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Step 2</span>
        What are your known costs?
      </h1>
      <p>You only need to enter approx figures.</p>

      <form class="form" action="step2-rate" method="post">

       
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="cost-per-invoice">
              What is the invoice value?
          </label>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="cost-per-invoice" name="cost-per-invoice" type="text" spellcheck="false">
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="cost-for-shipping">
            What is the shipping cost?
          </label>
          
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="cost-for-shipping" name="cost-for-shipping" type="text" spellcheck="false">
          </div>
        </div>


        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="cost-for-insurance">
            What is insurance cost?
          </label>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="cost-for-insurance" name="cost-for-insurance" type="text" spellcheck="false">
          </div>
        </div>

        {{ govukButton({
          text: "Next"
        }) }}
      
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Learn about something here?
            </span>
          </summary>
          <div class="govuk-details__text">
            Things
          </div>
        </details>

      </form>

    </div>
  </div>

{% endblock %}
