{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Step 1</span>
        Market overview        
      </h1>
      <div class="govuk-inset-text">
        <p class="govuk-body">Country: Indonesia
        </p>
        <p class="govuk-body">Product: {{data['product']}}
        </p>   
      </div>  
    </div>
  </div>

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Indonesia
      </h2>
      <p>Indonesia is a group of islands located near Malaysia, Singapore, the Philippines and Australia. The country has a population of over 270 million, making it a large potential consumer base.</p>
      <p>Indonesia has over 100 million internet users. It is the world’s third-largest Facebook market and fifth-largest Twitter market. Demand from the new middle class is increasing for modern retail and consumer goods, healthcare, education and professional qualifications, information and communications technology (ICT), transport, construction, and manufacturing.</p>
    </div>
  </div>
 
  <div class="govuk-grid-row ">

    <div class="govuk-grid-column-one-fifth">
      <div class="chart-wrap value left-value">
        <div class="grid horizontal ">
          <div class="bar govuk-body">Tariff rate</div>
          <div class="bar govuk-body">VAT</div>
          <div class="bar govuk-body">Ranked market</div>
          <div class="bar govuk-body">% of all UK exports</div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-two-fifths">
      <div class="chart-wrap right">
        <div class="grid horizontal">
          <div class="bar govuk-body" style="--bar-value:10%;" data-name="10%" title="Tariff rate 10%"></div>
          <div class="bar govuk-body" style="--bar-value:11%;" data-name="11%" title="VAT 11%"></div>
          <div class="bar govuk-body" style="--bar-value:56%;" data-name="56th" title="Ranked market 56th"></div>
          <div class="bar govuk-body" style="--bar-value:0.2%;" data-name="0.2%" title="0.2% of UK export market"></div>
        </div>
      </div>
    </div>        
    
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      {{ govukButton({
        text: "Calculate export costs",
        href: "step2"
      }) }}
    </div>
  </div>

{% endblock %}
