{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Product name
        <span class="edit-link govuk-body">
          <a href="step1" class="govuk-link--no-visited-state">Change product</a>
        </span>
      </h1>
      <p>Based on your information, we would recommend using an <strong>EX-Works</strong>, <strong>FOB</strong>, or <strong>CIF</strong> Incoterm to export your product. Use the jobby below to change Incoterms or compare against other faviourable markets.</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Incoterms - what are they?
          </span>
        </summary>
        <div class="govuk-details__text">
          FTO, CTO etc etc things
        </div>
      </details>
    </div>
  </div>

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">EX-Works</h2>
      {{ govukButton({
        text: "I'm best choose me",
        href: "step3-1-market-compare"
      }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">FOB</h2>
      {{ govukButton({
        text: "Choose me",
        href: "step3-1-market-compare"
      }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">CIF</h2>
      {{ govukButton({
        text: "Choose me",
        href: "step3-1-market-compare"
      }) }}
    </div>
  </div>
 

{% endblock %}
