{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Step 3</span>
      <h1 class="govuk-heading-l">Comparable markets
      </h1>
      <p>For your product and market compare against other existing markets.</p>
    </div>
  </div>

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-fifths grey">
      <h2 class="govuk-heading-m govuk-!-text-align-right">Mexico
        
      </h2>
    </div>
    <div class="govuk-grid-column-one-fifth">
      <h2 class="govuk-heading-m hide">Values</h2>
    </div>
    <div class="govuk-grid-column-two-fifths">
       <div class="govuk-form-group">
        <label class="govuk-heading-m govuk-!-display-inline" for="compare">
          Other markets 
        </label>
        <select class="govuk-select country" id="compare" name="compare" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option {{ "selected" if data["country"] == "Select" }} value="?country=Select" value="Select">Select</option>
          <optgroup label="FTA Partners">
            <option {{ "selected" if data["country"] == "Australia" }} value="?country=Australia">Australia</option>
          </optgroup>
          <option>----------</option>
          <optgroup label="Non-FTA Partners">
            <option {{ "selected" if data["country"] == "Columbia" }} value="?country=Columbia">Columbia</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
 
  <div class="govuk-grid-row ">

    <div class="govuk-grid-column-two-fifths border">
      <div class="chart-wrap left">
        <div class="grid horizontal">
          {% if data['inco'] == "FOB" %}
            <div class="bar govuk-body" data-name="£11,500" title="£11,500"></div>
            {% else %}
            {% if data['inco'] == "CIF" %}
              <div class="bar govuk-body" data-name="£16,450" title="£11,500"></div>
              {% else %}
              {% if data['inco'] == "Ex-works" %}
                <div class="bar govuk-body" data-name="£10,000" title="£11,500"></div>
              {% endif %}
            {% endif %}
          {% endif %}

          <div class="bar govuk-body" style="--bar-value:10%;" data-name="10%" title="Tarrif MFN 10%"></div>
          <div class="bar govuk-body" style="--bar-value:4.8%;" data-name="4.8%" title="Economic growth 4.8%"></div>
          <div class="bar govuk-body" style="--bar-value:47%;" data-name="47th" title="47th ranking of UK export market"></div>
          <div class="bar govuk-body" style="--bar-value:38%;" data-name="38%" title="38% of all UK exports"></div>
        </div>
      </div>
    </div>
        
    <div class="govuk-grid-column-one-fifth border">
      <div class="chart-wrap value center-value">
        <div class="grid horizontal ">
          <div class="govuk-form-group govuk-input--width-20 select">
            <label class="govuk-label govuk-visually-hidden" for="inco">
              Change Incoterm
            </label>
            <select class="govuk-select govuk-input--width-20" id="inco" name="inco" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
              <option {{ "selected" if data["inco"] == "FOB" }} value="?inco=FOB" selected>FOB</option>
              <option {{ "selected" if data["inco"] == "CIF" }} value="?inco=CIF">CIF landed</option>
              <option {{ "selected" if data["inco"] == "Ex-works" }} value="?inco=Ex-works">Ex-works</option>
            </select>
          </div>
          <div class="bar govuk-body">Tarrif</div>
          <div class="bar govuk-body">Economic growth</div>
          <div class="bar govuk-body">Ranked market</div>
          <div class="bar govuk-body">% of all UK exports</div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-two-fifths border">
  
          {% if data['country'] == "Select" %}
            <div class="chart-wrap right empty">
              <div class="grid horizontal">
                <div class="bar govuk-body" data-name="£"></div>
                <div class="bar govuk-body" style="--bar-value:25%;"></div>
                <div class="bar govuk-body" style="--bar-value:25%;"></div>
                <div class="bar govuk-body" style="--bar-value:25%;"></div>
                <div class="bar govuk-body" style="--bar-value:25%;"></div>
              </div>
            </div>
            {% else %}
            {% if data['country'] == "Australia" %}
              <div class="chart-wrap right">
                <div class="grid horizontal">
                  {% if data['inco'] == "FOB" %}
                    <div class="bar govuk-body" data-name="£10,500" title="£10,500"></div>
                    {% else %}
                    {% if data['inco'] == "CIF" %}
                      <div class="bar govuk-body" data-name="£14,500" title="£14,500"></div>
                      {% else %}
                      {% if data['inco'] == "Ex-works" %}
                        <div class="bar govuk-body" data-name="£10,000" title="£10,000"></div>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  <div class="bar govuk-body" style="--bar-value:0.1%;" data-name="0%" title="Tarif 0%"></div>
                  <div class="bar govuk-body" style="--bar-value:12.1%;" data-name="12.1%" title="Economic growth 12.1%"></div>
                  <div class="bar govuk-body" style="--bar-value:23%;" data-name="23rd" title="23rd ranked market"></div>
                  <div class="bar govuk-body" style="--bar-value:21%;" data-name="21%" title="21% of all UK exports"></div>
                </div>
              </div>
              {% else %}
              {% if data['country'] == "Columbia" %}
                <div class="chart-wrap right">
                  <div class="grid horizontal">
                    {% if data['inco'] == "FOB" %}
                      <div class="bar govuk-body" data-name="£12,450" title="£11,500"></div>
                      {% else %}
                      {% if data['inco'] == "CIF" %}
                        <div class="bar govuk-body" data-name="19,340" title="£11,500"></div>
                        {% else %}
                        {% if data['inco'] == "Ex-works" %}
                          <div class="bar govuk-body" data-name="£10,000" title="£11,500"></div>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    <div class="bar govuk-body" style="--bar-value:20%;" data-name="20%" title="Tarif 20%"></div>
                    <div class="bar govuk-body" style="--bar-value:9.3%;" data-name="9.3%" title="Economic growth 9.3%"></div>
                    <div class="bar govuk-body" style="--bar-value:12%;" data-name="12th" title="12rd ranked market"></div>
                    <div class="bar govuk-body" style="--bar-value:4.5%;" data-name="4.5%" title="4.5% of all UK exports"></div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        
    </div>    
    <br>
    <br>
    <!-- <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Incoterm comparison</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Value: </span></th>
              <th scope="col" class="govuk-table__header">Ex-works</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-24">FOB</th>
              <th scope="col" class="govuk-table__header">CIF Landed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Costs (approximate)</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Invoice price</th>
              <td class="govuk-table__cell">£10,000</td>
              <td class="govuk-table__cell">£10,000</td>
              <td class="govuk-table__cell">£10,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Customs *MFN 10% duty</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£1,000</td>
              <td class="govuk-table__cell">£1,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Taxes *VAT 20%</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£2,200</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Handling</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£500</td>
              <td class="govuk-table__cell">£500</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Shipping</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£2000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Insurance</th>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">£400</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></th>
              <td class="govuk-table__header">£10,000</td>
              <td class="govuk-table__header">£11,500</td>
              <td class="govuk-table__header">£16,450</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Features</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">FTA</th>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rules or origin</th>
              <td class="govuk-table__cell">Yes when FTA</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></th>
              <td class="govuk-table__cell">
                <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </td>
              <td class="govuk-table__cell">
                <button class="govuk-button comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </td>
              <td class="govuk-table__cell">
                <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        -->
  </div>

  

{% endblock %}
