{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Step 2</span>
      Choose your buying and selling responsibilities
      </h1>
      <div class="govuk-inset-text">
        Based on your information:
        <br>Your export costs would be appox <strong>£11,500</strong> using <strong>FOB Incoterms</strong>.
      </div>
      <p><a href="">Learn more about Incoterms</a>.</p>
    </div> 
  </div>
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <form class="form" action="step3-1-market-compare?inco=FOB&country=Select" method="post">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Incoterm comparison</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header other-header"><span class="govuk-visually-hidden">Value: </span></th>
              <th scope="col" class="govuk-table__header other-header">
               Ex-works</span>
                <br> <br>
                 <span class="govuk-body">£10,000</span>
                 <br>
                <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </th>
              <th scope="col" class="govuk-table__header recommended">FOB
                <br> <br>
                <span class="govuk-body">£11,500</span>
                <br>
                <button class="govuk-button  comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </th>
              <th scope="col" class="govuk-table__header other-header">CIF Landed
                <br> <br>
                <span class="govuk-body">£16,450</span>
                <br>
                <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Costs (approximate)</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell recommended"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Invoice price</th>
              <td class="govuk-table__cell other">£10,000</td>
              <td class="govuk-table__cell recommended">£10,000</td>
              <td class="govuk-table__cell other">£10,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Handling</th>
              <td class="govuk-table__cell other">-</td>
              <td class="govuk-table__cell recommended">£500</td>
              <td class="govuk-table__cell other">£500</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Shipping</th>
              <td class="govuk-table__cell other">-</td>
              <td class="govuk-table__cell recommended">-</td>
              <td class="govuk-table__cell other">£2000</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Insurance</th>
              <td class="govuk-table__cell other">-</td>
              <td class="govuk-table__cell recommended">-</td>
              <td class="govuk-table__cell other">£400</td>
            </tr>

            <!--
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></th>
              <td class="govuk-table__header other">£10,000</td>
              <td class="govuk-table__header recommended"><span class="recommended">£11,500</span></td>
              <td class="govuk-table__header other">£16,450</td>
            </tr>
             <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Responsibilities</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Documentation</th>
              <td class="govuk-table__cell">Seller</td>
              <td class="govuk-table__cell">Seller and buyer</td>
              <td class="govuk-table__cell">Buyer</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Customs clearance</th>
              <td class="govuk-table__cell">Seller</td>
              <td class="govuk-table__cell">Seller and buyer</td>
              <td class="govuk-table__cell">Buyer</td>
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">Managing shipment</th>
              <td class="govuk-table__cell">Seller</td>
              <td class="govuk-table__cell">Seller and buyer</td>
              <td class="govuk-table__cell">Buyer</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></th>
              <td class="govuk-table__cell">
                <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </td>
              <td class="govuk-table__cell">
                <button class="govuk-button comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </td>
              <td class="govuk-table__cell">
                <button class="govuk-button govuk-button--secondary comparison" data-module="govuk-button">
                  Select Incoterm
                </button>
              </td>
            </tr>-->
          </tbody>
        </table>
      </form>
    </div>
  </div>


 

{% endblock %}
