{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Step 1</span>
        Market overview        
      </h1>
      <div class="govuk-inset-text">
        <p class="govuk-body">Product: {{data['product']}}
          <span class="edit-link right-aligned-link govuk-body">
            <a href="step1" class="govuk-link--no-visited-state">Change <span class="govuk-visually-hidden">product</span></a>
          </span>
        </p>   
        <p class="govuk-body">Country: Mexico
          <span class="edit-link right-aligned-link govuk-body">
            <a href="step1" class="govuk-link--no-visited-state">Change <span class="govuk-visually-hidden">market</span></a>
          </span>
        </p>
      </div>  
    </div>
  </div>

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Mexico
      </h2>
      <p>Mexico is a North American country south of the United States. The World Bank now classes Mexico as an upper-middle-income country and the economically active population continues to grow. Mexico is a strategic gateway, to both the US and Canada and the rest of Latin America. </p>
      <p>Mexico’s market is about the same size as the whole of western Europe with a population of over 120 million. It is a young nation, with 50% of the population under 28 years old (World Bank, 2020; World Population Review, 2020). </p>
    </div>
  </div>
 
  <div class="govuk-grid-row ">

    <div class="govuk-grid-column-one-fifth">
      <div class="chart-wrap value left-value">
        <div class="grid horizontal ">
          <div class="bar govuk-body">Tarrif</div>
          <div class="bar govuk-body">Economic growth</div>
           <div class="bar govuk-body">Ranking of UK export market</div>
          <div class="bar govuk-body">% of all UK exports</div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-two-fifths">
      <div class="chart-wrap right">
        <div class="grid horizontal">
          <div class="bar govuk-body" style="--bar-value:10%;" data-name="10%" title="Tarrif MFN 10%"></div>
          <div class="bar govuk-body" style="--bar-value:4.8%;" data-name="4.8%" title="Economic growth 4.8%"></div>
          <div class="bar govuk-body" style="--bar-value:47%;" data-name="47th" title="Largest UK export market 47%"></div>
          <div class="bar govuk-body" style="--bar-value:38%;" data-name="38%" title="UK exports to Mexico 38%"></div>
        </div>
      </div>
    </div>        
    
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      {{ govukButton({
        text: "Calculate export costs",
        href: "step2"
      }) }}
    </div>
  </div>

{% endblock %}
