{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Product name
        <span class="edit-link govuk-body">
          <a href="step1" class="govuk-link--no-visited-state">Change product</a>
        </span>
      </h1>
      <p>Some lovely words about what the hell is going on.gdfljkljikf</p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Change Incoterm
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published">Recently published</option>
          <option value="updated" selected>Recently updated</option>
          <option value="views">Most views</option>
          <option value="comments">Most comments</option>
        </select>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-fifths">
      <h2 class="govuk-heading-m">Mexico
        <span class="edit-link govuk-body">
          <a href="step1" class="govuk-link--no-visited-state">Change market</a>
        </span>
      </h2>
    </div>
    <div class="govuk-grid-column-one-fifth">
      <h2 class="govuk-heading-m">_</h2>
    </div>
    <div class="govuk-grid-column-two-fifths">
      <h2 class="govuk-heading-m">Chili
        <span class="edit-link govuk-body">
          <a href="step1" class="govuk-link--no-visited-state">Change market</a>
        </span>
      </h2>
    </div>
  </div>
 
  <div class="govuk-grid-row ">

    <div class="govuk-grid-column-two-fifths">
      <div class="chart-wrap left">
        <div class="grid horizontal">
          <div class="bar govuk-body govuk-body--inverse" style="--bar-value:85%;" data-name="Your Blog" title="Your Blog 85%"></div>
          <div class="bar govuk-body" style="--bar-value:23%;" data-name="Medium" title="Medium 23%"></div>
          <div class="bar govuk-body" style="--bar-value:7%;" data-name="Tumblr" title="Tumblr 7%"></div>
          <div class="bar govuk-body" style="--bar-value:38%;" data-name="Facebook" title="Facebook 38%"></div>
          <div class="bar govuk-body" style="--bar-value:35%;" data-name="YouTube" title="YouTube 35%"></div>
          <div class="bar govuk-body" style="--bar-value:30%;" data-name="LinkedIn" title="LinkedIn 30%"></div>
          <div class="bar govuk-body" style="--bar-value:5%;" data-name="Twitter" title="Twitter 5%"></div>
          <div class="bar govuk-body" style="--bar-value:20%;" data-name="Other" title="Other 20%"></div>    
        </div>
      </div>
    </div>
        
    <div class="govuk-grid-column-one-fifth">
      <div class="chart-wrap value center-value">
        <div class="grid horizontal ">
           <div class="bar govuk-body">Your Blog</div>
          <div class="bar govuk-body">Medium</div>
          <div class="bar govuk-body">Tumblr</div>
          <div class="bar govuk-body">Facebook</div>
          <div class="bar govuk-body">YouTube</div>
          <div class="bar govuk-body">LinkedIn</div>
          <div class="bar govuk-body">Twitter</div>
          <div class="bar govuk-body">Twitter</div>
           
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-two-fifths">
      <div class="chart-wrap right">
        <div class="grid horizontal">
        <div class="bar govuk-body" style="--bar-value:85%;" data-name="Your Blog" title="Your Blog 85%"></div>
        <div class="bar govuk-body" style="--bar-value:23%;" data-name="Medium" title="Medium 23%"></div>
        <div class="bar govuk-body" style="--bar-value:7%;" data-name="Tumblr" title="Tumblr 7%"></div>
        <div class="bar govuk-body" style="--bar-value:38%;" data-name="Facebook" title="Facebook 38%"></div>
        <div class="bar govuk-body" style="--bar-value:35%;" data-name="YouTube" title="YouTube 35%"></div>
        <div class="bar govuk-body" style="--bar-value:30%;" data-name="LinkedIn" title="LinkedIn 30%"></div>
        <div class="bar govuk-body" style="--bar-value:5%;" data-name="Twitter" title="Twitter 5%"></div>
        <div class="bar govuk-body" style="--bar-value:20%;" data-name="Other" title="Other 20%"></div>    
        </div>
      </div>
    </div>    
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukButton({
        text: "Calculate your export costs",
        href: "step2"
      }) }}
    </div>
  </div>

{% endblock %}
